$primary: #56534c;
$gray: #979795;
$white: #fdfdfc;
$brown: #a47d5e;
$black: #121212;

$shadow: 0px 2px 10px 2px $black;

$large: 'max-width: 1200px';
$medium: 'max-width: 991px';
$small: 'max-width: 767px';
$extra-small: 'max-width: 575px';
$super-small: 'max-width: 474px';
