.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: relative;
}

.intro__logo {
    margin: auto;
    height: 100vh;
    max-width: 100vw;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.intro__title {
    display: block;
    margin-bottom: 11rem;

    font-family: 'Playfair Display', serif;
    font-size: 9.2rem;
    text-align: center;
    color: $white;
    letter-spacing: 0.5rem;
}

.intro__subtitle {
    display: block;
    max-width: 570px;
    margin-bottom: 7rem;

    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    color: $white;
    letter-spacing: 0.2rem;
}
