.nav {
  display: flex;

  @media ($medium) {
    display: none;
  }
}

.nav--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  padding: 1.5rem 0;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;

  background: $gray;

  position: absolute;
  top: 0;
  left: 0;

  & .nav__link {
    padding: 1.5rem 0;
  }

  & .nav__link:nth-child(3) {
    display: none;
  }

  & .nav__link:nth-child(4) {
    display: none;
  }
}

.nav__link {
  padding: 1.5rem 3rem;

  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  position: relative;

  cursor: pointer;

  transition: color 0.2s linear;

  &:after {
    content: '~';
    display: block;

    color: $white;

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);

    @media ($medium) {
      display: none;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:hover {
    color: darken($primary, 15%);
  }

  @media ($large) {
    padding: 1.5rem 2.2rem;
  }
}
