<section class="about section" id="about">
    <div class="container flex">
        <div class="about__content">
            <h3 class="section__title">About us</h3>
            <h4 class="section__subtitle">We create delicious memories</h4>
            <div class="section__text">
                <p class="section__p">
                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
                </p>
            </div>
            <div class="chef-cook">
                <h5 class="chef-cook__title">Chef Cook</h5>
                <div class="chef-cook__main">
                    <div class="chef-cook__name">Benito</div>
                    <img class="chef-cook__photo img" src="../assets/images/chef-cook.png" alt="chef-cook__photo" />
                    <div class="chef-cook__surname">Gaspare</div>
                </div>
                <div class="chef-cook__phrase"><p>Unique creations for unique occasions.</p></div>
            </div>
        </div>
        <div class="cards-about">
            <div class="cards-about__item">
                <img class="img" src="../assets/images/about/item-1.jpg" alt="photo-about-us-1" />
            </div>
            <div class="cards-about__item">
                <img class="img" src="../assets/images/about/item-2.jpg" alt="photo-about-us-2" />
            </div>
            <div class="cards-about__item">
                <img class="img" src="../assets/images/about/item-3.jpg" alt="photo-about-us-3" />
            </div>
            <div class="cards-about__item">
                <img class="img" src="../assets/images/about/item-4.jpg" alt="photo-about-us-4" />
            </div>
            <div class="cards-about__promo">
                <svg>
                    <use xlink:href="#promo"></use>
                </svg>
                <div class="cards-about__promo-text">Tastes so good!</div>
            </div>
        </div>
    </div>
</section>
