<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a class="logo" href="#" data-scroll="#intro">
                <img class="img" src="/assets/images/logo.png" alt="logo" />
            </a>
            <div class="footer__copy">
                &copy; 2020. All rights reserved <br />
                Privacy policy
            </div>
            <div class="social">
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#twitter-icon"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#facebook-icon"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#instagram-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
