<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="index.html">
                <img class="img" src="/assets/images/logo.png" alt="logo" />
            </a>

            <nav class="nav">
                <a class="nav__link" href="#" data-scroll="#intro">Home</a>
                <a class="nav__link" href="#" data-scroll="#menu">Menu</a>
                <a class="nav__link" href="#" data-scroll="#pastry">Pastry</a>
                <a class="nav__link" href="#" data-scroll="#about">About us</a>
                <a class="nav__link" href="#" data-scroll="#instagram">Instagram</a>
            </nav>

            <div class="social">
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#twitter-icon"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#facebook-icon"></use>
                        </svg>
                    </a>
                </div>
                <div class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="#instagram-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
