<section class="instagram section" id="instagram">
    <div class="container">
        <h3 class="section__title">Our Instagram</h3>
        <div class="insta-cards">
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-1.jpg" alt="instagram-photo-1" />
                </a>
            </div>
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-2.jpg" alt="instagram-photo-2" />
                </a>
            </div>
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-3.jpg" alt="instagram-photo-3" />
                </a>
            </div>
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-4.jpg" alt="instagram-photo-4" />
                </a>
            </div>
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-5.jpg" alt="instagram-photo-5" />
                </a>
            </div>
            <div class="insta-cards__item">
                <a class="insta-cards__link" href="#">
                    <img class="img" src="assets/images/instagram/item-6.jpg" alt="instagram-photo-6" />
                </a>
            </div>
        </div>
    </div>
</section>
