<section class="menu section" id="menu">
    <div class="container">
        <h3 class="section__title">Menu</h3>
        <div class="category">
            <div class="category__item category__item--active" data-filter="all">
                <img class="img" src="assets/images/menu/category/category-icon-1.png" alt="" />
                <h4 class="category__title">All</h4>
            </div>

            <div class="category__item" data-filter="pastry">
                <img class="img" src="assets/images/menu/category/category-icon-2.png" alt="" />
                <h4 class="category__title">Pastry</h4>
            </div>

            <div class="category__item" data-filter="wheat-bread">
                <img class="img" src="assets/images/menu/category/category-icon-3.png" alt="" />
                <h4 class="category__title">Wheat bread</h4>
            </div>

            <div class="category__item" data-filter="rye-bread">
                <img class="img" src="assets/images/menu/category/category-icon-4.png" alt="" />
                <h4 class="category__title">Rye bread</h4>
            </div>

            <div class="category__item" data-filter="corn-bread">
                <img class="img" src="assets/images/menu/category/category-icon-5.png" alt="" />
                <h4 class="category__title">Corn bread</h4>
            </div>
        </div>
        <div class="cards">
            <div class="cards__item" data-cat="wheat-bread">
                <img class="cards__image img" src="assets/images/menu/item-1.png" alt="" />
                <h5 class="cards__title">Micetta</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt, sesame</p>
                </div>
                <div class="cards__price">2€</div>
            </div>

            <div class="cards__item" data-cat="corn-bread">
                <img class="cards__image img" src="assets/images/menu/item-2.png" alt="" />
                <h5 class="cards__title">Altamura</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>

            <div class="cards__item" data-cat="rye-bread">
                <img class="cards__image img" src="assets/images/menu/item-3.png" alt="" />
                <h5 class="cards__title">Choppa</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt, sesame</p>
                </div>
                <div class="cards__price">2€</div>
            </div>

            <div class="cards__item" data-cat="pastry">
                <img class="cards__image img" src="assets/images/menu/item-4.png" alt="" />
                <h5 class="cards__title">Gemle</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>

            <div class="cards__item" data-cat="wheat-bread">
                <img class="cards__image img" src="assets/images/menu/item-5.png" alt="" />
                <h5 class="cards__title">Cachiato</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt, sesame</p>
                </div>
                <div class="cards__price">2€</div>
            </div>

            <div class="cards__item" data-cat="rye-bread">
                <img class="cards__image img" src="assets/images/menu/item-6.png" alt="" />
                <h5 class="cards__title">Altamura</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>

            <div class="cards__item" data-cat="corn-bread">
                <img class="cards__image img" src="assets/images/menu/item-7.png" alt="" />
                <h5 class="cards__title">Choppa</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>

            <div class="cards__item" data-cat="corn-bread">
                <img class="cards__image img" src="assets/images/menu/item-8.png" alt="" />
                <h5 class="cards__title">Micetta</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>

            <div class="cards__item" data-cat="pastry">
                <img class="cards__image img" src="assets/images/menu/item-9.png" alt="" />
                <h5 class="cards__title">Gemle</h5>
                <div class="cards__desc">
                    <p>Flour, water, yeast, salt</p>
                </div>
                <div class="cards__price">1.5€</div>
            </div>
        </div>
    </div>
</section>
