<section class="pastry section" id="pastry">
    <div class="container">
        <div class="pastry__inner">
            <div class="pastry-slider">
                <div class="pastry-slider__photo">
                    <img class="img" src="../assets/images/pastry/item-1.jpg" alt="main-photo" />
                </div>
                <div class="pastry-slider__content">
                    <h3 class="section__title">Tasty pastry</h3>
                    <h4 class="section__subtitle">Season favourite</h4>
                    <div class="section__text">
                        <p class="section__p">
                            Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
                        </p>
                        <p class="section__p">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
                        <p class="section__p">Nullam quis ante. Etiam sit amet orci eget eros faucibus. Maecenas nec odio et ante tincidunt tempus.</p>
                    </div>

                    <div class="pastry-slider__other-slides">
                        <div class="pastry-slider__other-slide">
                            <img class="img br50" src="../assets/images/pastry/item-2.jpg" alt="photo-slide-1" />
                        </div>
                        <div class="pastry-slider__other-slide">
                            <img class="img br50" src="../assets/images/pastry/item-3.jpg" alt="photo-slide-2" />
                        </div>
                        <div class="pastry-slider__other-slide">
                            <img class="img br50" src="../assets/images/pastry/item-4.jpg" alt="photo-slide-3" />
                        </div>
                    </div>

                    <div class="pastry-slider__ready">
                        <h4 class="pastry-slider__subtitle">Ready in</h4>
                        <div class="pastry-slider__time">40</div>
                        <div class="pastry-slider__min">min</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
